button {
  display: block;
  margin: 3% auto;
  padding: 1%;
}

/* Styles for welcome user page */

.welcomeContainer{
  background-color: rgb(255, 221, 237);
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 2px solid black;
  padding: 5%;
  justify-content: center;
  text-align: center;
}

.welcomeText{
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 4%;
}

/* Styles for invalid details page */

.invalidDetailsContainer{
  background-color: rgb(255, 221, 237);
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 2px solid black;
  padding: 5%;
  justify-content: center;
  text-align: center;
}

.unsuccessfulText{
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 4%;
}

/* Styles for Homepage */

.homepageContainer{
  background-color: rgb(255, 221, 237);
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 2px solid black;
  padding: 5%;
  justify-content: center;
  text-align: center;
}

.title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.username{
  padding: 2%;
}

.password{
  padding: 2%;
}

.label {
  margin-right: 10px;
}